# Files to ignore

# For data directory .gitignore, I created a separate .gitignore directory within to manage subdirectories
data/all_uniprot_info_inc_GOterms.tab
data/cbai_hemat_diamond_blastx_table_transcriptome_v2.0.txt
data/*blastx_table*

# Ignore the indices we create for Kallisto - too big
output/*/*.idx

# Ignore the matrices we create for DESeq2 - also too big
output/kallisto_matrices/*/**

# Ignore some of our BLASTs against the amoebo genome - too big
output/BLASTs/amoebo_genome/*tblastxres.tab

# Ignore the AllGenes text files from DESeq2 output - too big
graphs/DESeq2_output/*/*/AllGene*.txt

# Ignore our merged libraries - also too big
output/libraries_merged/**

# Ignore scripts file created when running .Rstudio on Mox
scripts/core.5096
.Rproj.user

# Ignore .Rhistory file
scripts/.Rhistory
